@using EntityLayer
@model List<Announcement>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyuru Listesi</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                            <th>Aktif Yap</th>
                            <th>Pasif Yap</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AnnouncementId</td>
                                <td>@item.Title</td>
                                <td>@item.Date</td>
                                <td><a href="/Announcements/DeleteAnnouncement/@item.AnnouncementId" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Announcements/UpdateAnnouncement/@item.AnnouncementId" class="btn btn-outline-github">Güncelle</a></td>
                                <td><a href="/Announcements/StatusTrue/@item.AnnouncementId" class="btn btn-outline-success">Aktif Yap</a></td>
                                <td><a href="/Announcements/StatusFalse/@item.AnnouncementId" class="btn btn-outline-warning">Pasif Yap</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/Announcements/CreateAnnouncement" class="btn btn-outline-success">Yeni Duyuru Ekle</a>
            </div>
        </div>
    </div>
</div>

