@using EntityLayer
@model Image
@{
    ViewData["Title"] = "CreateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Resim Kaydı</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Adı Soyadı</label>
                    <input type="text" asp-for="Title" class="form-control" id="exampleInputName1" placeholder="Başlık">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görev</label>
                    <input type="text" asp-for="Description" class="form-control" id="exampleInputEmail3" placeholder="Açıklama">
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Görsel</label>
                    <input type="text" class="form-control" asp-for="ImagreUrl" id="exampleTextarea1" placeholder="Görsel" />
                    <span asp-validation-for="ImagreUrl" class="text-danger"></span>
                </div>               
                <button type="submit" class="btn btn-outline-info">Kaydet</button>
            </form>
        </div>
    </div>
</div>

