<div class="map-w3ls">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9513.84853368873!2d32.8204644078125!3d39.925053999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e1!3m2!1str!2str!4v1672623375634!5m2!1str!2str"></iframe>
</div>
