@using EntityLayer
@model List<Address>

<h3 class="tittle">Bize Ulaş</h3>
<p class="heading-btm-w3ls">Aşağıdaki Form Üzerinden Bize Ulaşabilirsiniz.</p>
<div class="col-md-3 contact-left">
	<h4>Adresimiz</h4>
	<p>@Model[0].Description1</p>
	<p>@Model[0].Description2</p>
	<p>@Model[0].Description3</p>
	<h4>Telefon Numarası</h4>
	<p>@Model[0].Description4</p>

</div>